:root {
    @media (prefers-color-scheme: dark) {
        --opposite-bg-color: hsl(240, 33%, 97%);
        --main-bg-color: hsl(240, 8%, 10%);
        --main-fg-color: hsl(243, 100%, 96%);
        --dim-fg-color: hsl(243, 9%, 60%);
        --spacer-fg-color: hsl(240, 6%, 12%);
        --github-color: hsl(0, 0%, 100%);
    }

    @media (prefers-color-scheme: light) {
        --opposite-bg-color: hsl(240, 8%, 10%);
        --main-bg-color: hsl(240, 33%, 97%);
        --main-fg-color: hsl(240, 20%, 5%);
        --dim-fg-color: hsl(240, 2%, 47%);
        --spacer-fg-color: hsl(240, 14%, 93%);
        --github-color: hsl(213, 13%, 16%);
    }
}

::selection {
    color: var(--main-bg-color);
    background: var(--opposite-bg-color);
}

*:focus-visible {
    outline-width: 2px;
    outline-offset: 5px;
    outline-color: var(--opposite-bg-color);
    outline-style: solid;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

.main-fg-color {
    color: var(--main-fg-color);
}

.dim-fg-color {
    color: var(--dim-fg-color);
}

html {
    background-color: var(--main-bg-color);
    overflow-y: scroll;
}

.font-roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-title {
    font-weight: 800;
    font-style: normal;
}

.font-caption {
    font-weight: 600;
    font-style: normal;
}

.font-bold {
    font-weight: 700;
    font-style: bold;
}

.font-normal {
    font-weight: 400;
    font-style: normal;
}

.inline {
    display: inline;
}

.inline * {
    display: inline;
}

.blocky {
    display: grid;
    grid-template-columns: 1fr auto;
}

.blocky>* {
    justify-self: end;
}

.wrapper {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    display: flex;
}

.content {
    display: flex;
    height: 100%;
    /* min-height: 100vh; */
    /* min-height: 100svh; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-container {
    align-self: center;
    margin: clamp(1.25em, 3vh, 3em) 0 clamp(0.8em, 1.5vh, 3em);
    display: grid;
    row-gap: 1.5em;
}

.display-container>* {
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.datetime-container {
    display: grid;
    justify-items: center;
}

.datetime-container>* {
    width: fit-content;
    height: fit-content;
}

.caption-container {
    align-self: center;
    justify-self: center;
    margin: 0 clamp(1.5em, 8vw, 15em);
    font-size: clamp(0.8em, min(5vh, 2.2vw), 1.35em)
}

#countdown,
#datetime {
    white-space: nowrap;
}

#countdown {
    line-height: 0.8em;
}

.spacer {
    color: var(--spacer-fg-color);
}

.button-refresh-container {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding-top: 1vh;
    padding-bottom: 0.8vh;
}

button {
    background-color: transparent;
}

/* Stop the parent from being a few pixels bigger than the actual svg */
svg {
    display: block;
}

/* Matches devices that are using mouse/stylus */
@media (hover: hover) and (pointer: fine) {

    #countdown,
    #datetime {
        transition: filter 150ms ease-in;
    }

    /* On `Blocky` display, only select the actual countdown numbers and not
     * the spacers. */
    #countdown:hover [id^="countdown-"],
    #countdown:hover label {
        filter: brightness(85%);
        transition: filter 75ms ease-out;
    }

    #datetime:hover {
        filter: brightness(80%);
        transition: filter 75ms ease-out;
    }

    /* button#refresh>svg { */
    /*     transition: rotate 75ms ease-in, filter 50ms linear; */
    /* } */

    button#refresh:hover>svg {
        filter: brightness(75%);
        transition: filter 50ms linear;
        /* rotate: 15deg; */
        /* transition: rotate 75ms ease-out, filter 150ms linear; */
    }
}

/* Matches touchscreens */
/* @media not ((hover: hover) and (pointer: fine)) { */
/* } */

.bottom-container {
    padding: 2em;
    display: flex;
}

.bottom-container>svg {
    fill: var(--dim-fg-color);
}

#user-count {
    padding-top: 1px;
}

/* #github-link { */
/*     padding: 6px; */
/*     position: absolute; */
/*     bottom: 34px; */
/*     right: 39px; */
/* } */

#github-link>svg>path {
    fill: var(--github-color);
}
