:root {
    @media (prefers-color-scheme: dark) {
        --main-bg-color: 23, 23, 27;
        --main-fg-color: 237, 236, 255;
        --dim-fg-color: 125, 124, 143;
    }

    @media (prefers-color-scheme: light) {
        --main-bg-color: 245, 245, 250;
        --main-fg-color: 10, 10, 15;
        --dim-fg-color: 118, 118, 123;
    }
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

.main-fg-color {
    color: rgb(var(--main-fg-color));
}

.dim-fg-color {
    color: rgb(var(--dim-fg-color));
}


html {
    background-color: rgb(var(--main-bg-color));
}

.font-roboto {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.font-bold {
    font-weight: 700;
    font-style: bold;
}

.font-normal {
    font-weight: 400;
    font-style: normal;
}

.inline {
    display: inline;
}

.inline * {
    display: inline;
}

.blocky {
    display: grid;
    grid-template-columns: 1fr auto;
}

.blocky>* {
    justify-self: end;
}

.main-container {
    display: flex;
    height: 100vh;
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .main-container>* { */
/*     border: 1px solid #f00; */
/* } */

.display-container {
    align-self: center;
    margin: auto;
    /* width: 80vw; */
    /* height: 60vh; */
    display: grid;
    row-gap: 3vw;
}

.display-container>* {
    width: fit-content;
    align-self: center;
    justify-self: center;
}

.datetime-container {
    /* width: 40vw; */
    display: grid;
    justify-items: center;
}

.datetime-container>* {
    width: fit-content;
    height: fit-content;
}

#countdown,
#datetime {
    white-space: nowrap;
    user-select: none;
}

#countdown {
    line-height: 0.8em;
}

.button-refresh-container {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding-top: 1vh;
    padding-bottom: 0.8vh;
    background-color: rgba(var(--main-bg-color), 0.9);
}

button {
    background-color: transparent;
}

button#refresh>svg {
    fill: rgb(var(--main-fg-color));
    transition: transform 150ms;
}

button#refresh:hover>svg {
    fill: #505050;
    transform: rotate(20deg);
}
