{% extends "layout.html" %}

{% block head %}
<link rel="preload" href="assets/scripts/countdown.js" as="script" />
<script src="assets/scripts/countdown.js"></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="display-container">
        <button id="countdown" class="font-roboto font-bold main-fg-color inline">
            <!-- TODO: aria-label for the labels/"separators" -->
            <p id="countdown-days">0</p>
            <label id="days-label" for="countdown-days">:</label>
            <p id="countdown-hours">00</p>
            <label id="hours-label" for="countdown-hours">:</label>
            <p id="countdown-mins">00</p>
            <label id="mins-label" for="countdown-mins">:</label>
            <p id="countdown-secs">00</p>
            <label id="secs-label" for="countdown-secs">.</label>
            <p id="countdown-millis">000</p>
        </button>
        <div class="datetime-container">
            <time role="button" class="font-roboto font-normal dim-fg-color" id="datetime" tabindex="0">{{ datetime }}</time>
        </div>
    </div>
    <div class="button-refresh-container">
        <button aria-label="Refresh datetime" type="button" id="refresh">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3">
                <path
                    d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z" />
            </svg>
        </button>
    </div>
</div>
{% endblock %}
