<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Countdown & Datetime until '{{ title }}' updates">
    <meta name="keywords" content="{{ title }}, satire, countdown, time, date, update, video games">
    <meta name="author" content="faidz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ title }} | Update Countdown {% endblock %} </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap">

    <link href="" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/style.css">

    {% block head %}{% endblock %}
    <!-- <script src="https://unpkg.com/htmx.org@2.0.4" -->
    <!--     integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" -->
    <!--     crossorigin="anonymous"></script> -->

    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />

</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>
