<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="faidz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">

    <title>{% block title %}{{ title }} | Update Countdown {% endblock %} </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;0,600;0,800;1,400&subset=latin&display=swap">

    <link rel="stylesheet" href="/assets/css/style.css">

    {% block head %}{% endblock %}

    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />

    <!-- Prevent firefox from flashing unstyled content -->
    <script>0</script>
</head>

<body data-theme="dark">
    {% block content %}
    {% endblock %}
</body>

</html>
